.wrapper {
  display: flex;
  flex-direction: column;
  gap: 2rem;
}

.row1,
.row2 {
  width: 100%;
  display: flex;
  gap: 1rem;
}

.half-width-input {
  width: 50%;
}

.onethird-width-input {
  width: 33.33%;
}

.button {
  width: 300px;
}

@media screen and (max-width: 576px) {
  .wrapper {
    gap: 1rem;
  }

  .row1,
  .row2 {
    flex-wrap: wrap;
  }

  .half-width-input,
  .onethird-width-input {
    width: 100%;
  }

  .button {
    width: 100%;
  }
}
